html, body, p, h1 {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
	display: block;
	touch-action: none;
}

#blocker {
	position: absolute;
	font-size: 36px;
	left: calc(50% - 24px * 18 / 2);
	width: calc(24px * 18);
	top: calc(50% - 48px * 4.5 / 2);
	height: calc(48px * 5.5);
	font-family: monospace;
	background-color: #000000CC;
	color: white;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}

#header {
	position: absolute;
	left: calc(50% - 90% / 2);
	width: calc(90%);
	top: calc(5% - 48px / 2);
	height: calc(48px);
	font-family: monospace;
	background-color: #000000CC;
	color: white;
	text-align: center;
	border-radius: 10px;
}

#header h1 {
	font-size: 36px;
}
